* {
    margin: 0;
    padding: 0;
    color: white;
}
h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
body {
    display: flex;
    background-color: rgb(119, 23, 63);
    font-family: Monaco, monospace;
    font-weight: 900;
    width: 100%;
}
img {
    clip-path:circle(); 
    justify-content: center;
}
.photo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.intro {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding-top: 35px;
    padding-bottom: 20px;
}
h2 {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    padding-top: 35px;
    padding-bottom: 10px;
}
.about-me {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    background-color: rgb(196, 65, 116);  
    padding-top: 35px;
    padding-bottom: 20px;
}
.title-education {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
.education {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    padding: 15px;
}
.title-experience {
    padding-top: 80px;
    padding-bottom: 30px;
}
.experience {
    display: block;
    font-weight: 600;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.title-skills {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
.skills-list {
    display: grid;
    grid-auto-flow: row;
    font-family: Monaco, monospace;
    font-style: oblique;
    font-weight: bolder;
    align-items: left;
    list-style-type: none;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.title-projects {
    padding-top: 80px;
    padding-bottom: 30px;
}
.project-list {
    text-align: center;
    justify-content: space-around;
    padding-bottom: 20px; 
}
.social-media {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
.sm-section {
    background-color: rgb(196, 65, 116);
}
.title-feedback {
    height: 40px;
    text-align: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
} 
#leave_message {
    font-size: 25px;
    display: flexbox;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
}
.feedback {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;  
}  
#name,
#email,
#msg {
    padding: 0.15rem 0.4rem;
    width: 100%;  
}
.btm {
    font-family:'Times New Roman';
    font-weight: 500;
    width: 100px;
    background-color: rgb(36, 160, 237);
}
#messages {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.title-messages {
    width: 100%;
    height: 40px;
    text-align: center;
}
.footer {
    display: block;
    text-align: left;
    word-spacing: 2px;
    padding-top: 40px;
    margin-left: 10px;
}
header {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
}
.about-me,
.education,
.experience,
.skills-list,
.project-list,
.sm-list {
    font-size: 25px;
}
nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.container div {
    margin: 0;
    width: 100%;
    padding: 32px;
    font-size: 25px;
    font-weight: 900;
}
input {
    color: black;
}
textarea {
    color: black;
}
@media (max-width: 1200px) { 
    .body-wrapper {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .container {
        display: none;
        width: 100%;
        justify-content: center;
        text-align: center;
}
@media (min-width:200px) {
    .body-wrapper {
        width: 1000px;
    }  
}